<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Css relation  -->
  <link rel="stylesheet" href="\css\style.css">

  <!-- Icon relation -->
  <script src="https://kit.fontawesome.com/3f16c6691c.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Admin</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
    <div class="container-fluid">

      <!-- Section containg code for off screen left list -->
      <section id="leftlist">

        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i class="bi bi-alarm"></i> Account</button>

        <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <h1 class="offcanvas-account">Welcome </h1>

            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action"><a href="/dashboard">Dashboard</a></li>
              <li class="list-group-item list-group-item-action"><a href="/feedback">Feedback</a></li>
              <li class="list-group-item list-group-item-action"><a href="/codingpractices">Coding Practices</a></li>
              <li class="list-group-item list-group-item-action"><a href="/textupload">Upload</a></li>
              <li class="list-group-item list-group-item-action"><a href="/nameChecker">Variable Name Checker</a></li>
              <br>
              <h4 class="offcanvas-account">Admin Restrictions</h4>
              <li class="list-group-item list-group-item-action"><a href="/editbrain">Add to Brain</a></li>
              <li class="list-group-item list-group-item-action"><a href="/viewuploaded">View Uploaded Work </a></li>
              <li class="list-group-item list-group-item-action"><a href="/studenttendencies">View Student Tendencies </a></li>
            </ul>
          </div>
      </section>
  </nav>
  <!--Body Code  -->

  <h1>viewuploaded</h1>

  <% if (studentsFiles.length==0) {%>
  <p>No students have uploaded any files yet</p>
  <%}else{%>

  <div class="row">
    <div class="col-4">
      <div class="list-group pagelength" id="list-tab" role="tablist">

        <% for(i=0; i<studentsFiles.length; i++) {%>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-home<%=i%>" role="tab" aria-controls="list-settings"> <%=studentsFiles[i].filename%></a>
        <%}%>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
  <% for(i=0; i<studentsFiles.length; i++) {%>
          <div class="tab-pane fade show " id="list-home<%=i%>" role="tabpanel" aria-labelledby="list-home-list">
  <div class="">
    <h1>Code</h1>
    <p>Student : <%=studentsFiles[i].student%></p>
    <p><%=studentsFiles[i].code%></p>

<form class="" action="viewuploaded" method="post">
  <label for="exampleFormControlTextarea1" class="form-label">Feedback to Student </label>
  <input class="form-control" name="filename" type="text" value=<%=studentsFiles[i].filename%> aria-label="readonly input example" readonly>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="feedback"></textarea>
    <br>
      <button type="submit" class="btn btn-primary">Send</button>
</form>
   </div>
  </div>

  <%}%>

  </div>
  </div>
</div>
<%}%>
</body>

</html>
